# Enter your Personal-Access-Token and its ID.
# Open https://app.sipgate.com and create a new token by navigating to "Benutzereinstellungen" -> "Personal-Access-Tokens"
TOKEN_ID=
TOKEN=

# Choose an SMS ID to be used.
# You can use the "/{userID}/sms" endpoint to list the available SMS IDs for a given user (see https://api.sipgate.com/v2/doc#/sms/getSmsExtensions).
# Alternatively you can use the Node.JS library (see https://github.com/sipgate-io/sipgateio-node-examples#list-common-ids)
SMS_ID=

# Choose a phone number of the recipient.
RECIPIENT=
